<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3acfe">  <td>18/04/17 08:16:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.FunctionalTest@56ac3a89]">feature</td> 
  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>18/04/17 08:16:37</td>   <td>-1000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.FunctionalTest@56ac3a89]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/04/17 08:16:38</td>   <td>-247</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.setup()[pri:0, instance:runner.FunctionalTest@56ac3a89]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>18/04/17 08:18:10</td>   <td>91255</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.FunctionalTest@56ac3a89]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/04/17 08:18:09</td>   <td>91217</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.teardown()[pri:0, instance:runner.FunctionalTest@56ac3a89]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
</table>
